
// Base16 Tomorrow
// A color scheme by Chris Kempson (http://chriskempson.com)

// Grayscale
@black:           #dbdfe6; // 00
@very-dark-gray:  #b4bdcb; // 01
@dark-gray:       #8d9bb0; // 02
@gray:            #697b96; // 03
@light-gray:      #4f5d72; // 04
@very-light-gray: #343d4b; // 05
@almost-white:    #191d24; // 06
@white:           #000000; // 07

// Colors
@red:             #450E8C; // 08
@orange:          #5F15C1; // 09
@yellow:          #16B6AB; // 0A
@green:           #248781; // 0B
@cyan:            #2F6FA7; // 0C
@blue:            #408EF5; // 0D
@purple:          #7B42C7; // 0E
@brown:           #042B4D; // 0F
