
// Base16 Tomorrow
// A color scheme by Chris Kempson (http://chriskempson.com)

// Grayscale
@black:           #dbdfe6; // 00
@very-dark-gray:  #b4bdcb; // 01
@dark-gray:       #8d9bb0; // 02
@gray:            #697b96; // 03
@light-gray:      #4f5d72; // 04
@very-light-gray: #343d4b; // 05
@almost-white:    #191d24; // 06
@white:           #000000; // 07

// Colors
@red:             #CC006D; // 08
@orange:          #C00099; // 09
@yellow:          #00CC6D; // 0A
@green:           #00C099; // 0B
@cyan:            #0080BB; // 0C
@blue:            #1919B3; // 0D
@purple:          #8000BB; // 0E
@brown:           #0060CC; // 0F
